<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.en.dao.UserDao">
	<resultMap type="User" id="userResult">
		<id property="id" column="id"></id>
		<result property="username" column="username"></result>
		<result property="password" column="password"></result>
		<result property="phoneNum" column="phoneNum"></result>
	</resultMap>

	<select id="countUsername" parameterType="User" resultType="Long">
		SELECT count(*)from t_user where username = #{username}
	</select>

	<select id="getByUsernameAndPass" parameterType="User" resultMap="userResult">
		SELECT * FROM t_user where username=#{username} and password=#{password}
	</select>

	<select id="getById" parameterType="Integer" resultMap="userResult">
		SELECT *
		FROM t_user where id=#{id}
	</select>

	<insert id="addUser" parameterType="User">
		INSERT into t_user
		VALUES(null,#{username},#{password},#{phoneNum})
	</insert>

	<delete id="deleteUser" parameterType="User">
		DELETE FROM t_user WHERE
		id = #{id}
	</delete>

	<update id="updateUser" parameterType="User">
		UPDATE t_user
		<set>
			<if test="username!=null and username!=''">
				username=#{username},
			</if>
			<if test="password!=null and password!=''">
				password=#{password},
			</if>
			<if test="phoneNum!=null and phoneNum!=''">
				phoneNum=#{phoneNum}
			</if>
		</set>
	</update>
</mapper>
